<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Razak@123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <!-- Entity classes -->
        <mapping class="org.hostpital.Student"/>
        <!-- inheritance and listeners -->
        <mapping class="org.hostpital.inheritance.Vehicle"/>
        <mapping class="org.hostpital.inheritance.Car"/>
        <mapping class="org.hostpital.inheritance.Motorcycle"/>
        <!-- lock -->
        <mapping class="org.hostpital.locks.BankAccount" />
        <!-- Persistence embedded -->
        <mapping class="org.hostpital.persistence.components.Customer" />
        <mapping class="org.hostpital.persistence.components.Address" />
        <!-- Persistence element collection -->
        <mapping class="org.hostpital.persistence.components.Problem" />


    </session-factory>
</hibernate-configuration>